index.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
<!-- InstanceBegin template="Templates/modelo-interna.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Intranet - Home 1</title>
    <!-- InstanceEndEditable -->
    <link rel="stylesheet" href="src/css/intranet.css">
    <script defer src="src/plugins/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
    <!-- InstanceBeginEditable name="cssAdcional" -->
    <!-- InstanceEndEditable -->
    <!-- InstanceParam name="colunaLateral" type="boolean" value="false" -->
    <!-- InstanceParam name="paginainterna" type="boolean" value="false" -->
</head>

<body>
    <header class="cabecalho navbar navbar-expand navbar-dark flex-column flex-md-row">
        <div class="container">
            <div class="logo">
                <a class="navbar-brand text-primary text-uppercase font-weight-bold" href="index.html">
                    <img src="http://www.tre-mt.jus.br/temas/imagens/logo-tse.png" width="135" height="61" alt=""> Intranet
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacaoSuperior" aria-controls="navegacaoSuperior" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse d-md-flex justify-content-end" id="navegacaoSuperior">
                <div class="col-12">
                    <nav class="navbar-nav flex-row ml-md-auto d-none d-md-flex justify-content-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">Acessibilidade</li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-adjust"></i>
                                    <span class="sr-only">Contraste</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-american-sign-language-interpreting"></i>
                                    <span class="sr-only">Libras</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-assistive-listening-systems"></i>
                                    <span class="sr-only">Voz</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <form class="form-inline my-2 my-lg-0 justify-content-end">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-link" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input class="form-control mr-sm-2" type="search" placeholder="O que você procura?" aria-label="Busca">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 i-sidebar border-right">
                <form class="bd-search d-flex align-items-center">
                    <input type="search" class="form-control" id="search-input" placeholder="Pesquisar..." aria-label="Search for..." autocomplete="off" data-siteurl="http://getbootstrap.com.br">
                    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"></button>
                </form>
                <nav class="">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item dropright">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-users"></i> Pessoal</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">Item 1</a></li>
                                    <li class="dropdown-item"><a href="#">Item 2</a></li>
                                    <li class="dropdown-item"><a href="#">Item 3</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Item 4</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="#">Sub-item 1</a></li>
                                            <li class="dropdown-item"><a href="#">Sub-item 2</a></li>
                                            <li class="dropdown-item"><a href="#">Sub-item 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pagina-sem-coluna.html">
                                    <i class="fas fa-sitemap"></i> Unidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pagina-noticia.html">
                                    <i class="fas fa-laptop"></i> Sistemas e suporte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pagina-noticias.html">
                                    <i class="far fa-id-card"></i> Eleições</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pagina-iframe.html">
                                    <i class="fas fa-gavel"></i> Legislação</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-money-bill-alt"></i> Orçamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-briefcase"></i> Licitações e contratos</a>
                            </li>
                        </ul>
                        <h6 class="sidebar-heading">
                            <span>
                            <i class="fas fa-star"></i> Favoritos</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Processos Paralisados</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Processos Paralisados</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 i-content" role="main">


                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                    <!-- InstanceBeginEditable name="principal" -->
                    <h2>Home intranet</h2>
                    <!-- InstanceEndEditable -->
                </div>

                <footer class="main-footer position-absolute border-top w-100">
                    <div id="chat" class="row">
                        <button class="btn btn-default float-right">
                            <i class="fas fa-comments"></i> Chat</button>
                    </div>
                    <div id="mapa-site" class="row">
                        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Mapa do site</a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5>Pessoal</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Unidades</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Sistemas e suporte</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Eleições</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Legislação</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Orçamento</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Licitações e contratos</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <address class="text-center">
                                Setor de Administração Federal Sul (SAFS), Quadra 7, Lotes 1/2, Brasília/DF – 70070-600 - Tel.: (61) 3030-7000
                                <br /> Protocolo Administrativo: sala V-101, fax: (61) 3030-9850 - regras de enviolink externo
                                <br /> Protocolo Judiciário: sala V-504, fax: (61) 3030-9951
                                <br /> Horário de funcionamento dos protocolos: das 11h às 19h
                                <br />
                            </address>
                    </div>
                </footer>
            </main>

        </div>
    </div>
    <script src="src/plugins/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="src/plugins/bootstrap/dist/js/bootstrap.js"></script>
    <script src="src/js/principal.js"></script>
    <!-- InstanceBeginEditable name="scriptAdcional" -->
    <!-- InstanceEndEditable -->
</body>

<!-- InstanceEnd -->

</html>

index.pug
doctype html
html(lang='pt-br')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // TemplateBeginEditable name="doctitle"
    title Intranet - Página padrão
    // TemplateEndEditable
    link(rel='stylesheet', href='../src/css/intranet.css')
    script(defer='', src='../src/plugins/fontawesome/svg-with-js/js/fontawesome-all.js')
    // TemplateBeginEditable name="cssAdcional"
    // TemplateEndEditable
    // TemplateParam name="colunaLateral" type="boolean" value="false"
    // TemplateParam name="breadcrumb" type="boolean" value="true"
  body.pagina-interna
    header.cabecalho.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar.fixed-top
      // #BeginLibraryItem "/Library/topo.lbi"
      .container
        .logo
          a.navbar-brand.text-primary.text-uppercase.font-weight-bold(href='#')
            img(src='http://www.tre-mt.jus.br/temas/imagens/logo-tse.png', width='135', height='61', alt='')
            |  Intranet
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navegacaoSuperior', aria-controls='navegacaoSuperior', aria-expanded='false', aria-label='Toggle navigation', value='Menu')
            span.navbar-toggler-icon
        #navegacaoSuperior.collapse.navbar-collapse.d-md-flex.justify-content-end
          .row
            .col-12
              nav.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex.justify-content-end
                ul.list-inline
                  li.list-inline-item Acessibilidade
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-adjust
                      |  Contraste
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-american-sign-language-interpreting
                      |  Libras
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-assistive-listening-systems
                      |  Voz
            .col-12
              form.form-inline.my-2.my-lg-0.justify-content-end
                input.form-control.mr-sm-2(type='search', placeholder='O que você procura?', aria-label='Search')
                button.btn.btn-primary.my-2.my-sm-0(type='submit') Buscar
      // #EndLibraryItem
    .container-fluid
      .row.flex-xl-nowrap
        // #BeginLibraryItem "/Library/menu-principal-lateral.lbi"
        .navegacao-principal
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-users
                |  Pessoal
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-sitemap
                |  Unidades
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-laptop
                |  Sistemas e suporte
            li.nav-item
              a.nav-link(href='#')
                i.far.fa-id-card
                |  Eleições
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-gavel
                |  Legislação
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-money-bill-alt
                |  Orçamento
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-briefcase
                |  Licitações e contratos
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-users
                |  Pessoal
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-sitemap
                |  Unidades
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-laptop
                |  Sistemas e suporte
            li.nav-item
              a.nav-link(href='#')
                i.far.fa-id-card
                |  Eleições
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-gavel
                |  Legislação
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-money-bill-alt
                |  Orçamento
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-briefcase
                |  Licitações e contratos
        // #EndLibraryItem
        main.conteudo.col-12.col-md-9.col-xl-8.d-flex.p-0
          // TemplateBeginIf cond="breadcrumb"
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Library
              li.breadcrumb-item.active(aria-current='page') Data
          // TemplateEndIf
          // TemplateBeginEditable name="principal"
          p Conteúdo aqui!
          // TemplateEndEditable
          footer.rodape-global.align-self-end
            #mapa-site
              h3 Mapa do site
            nav.navbar.navbar-light
              address.text-center
                p
                  | Setor de Administração Federal Sul (SAFS), Quadra 7, Lotes 1/2, Brasília/DF – 70070-600 - Tel.: (61) 3030-7000
                p
                  | Protocolo Administrativo: sala V-101, fax: (61) 3030-9850 - regras de enviolink externo
                p Protocolo Judiciário: sala V-504, fax: (61) 3030-9951
                p Horário de funcionamento dos protocolos: das 11h às 19h
        // TemplateBeginIf cond="colunaLateral"
        aside#side.side-bar.d-none.d-xl-block.col-xl-2.bd-toc
          // TemplateBeginEditable name="lateral"
          // TemplateEndEditable
        // TemplateEndIf
    script(src='../src/plugins/jquery/dist/jquery.min.js')
    script(src='../src/js/principal.js')
    // TemplateBeginEditable name="scriptAdcional"
    // TemplateEndEditable
